@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mozilla Headline", sans-serif;
}

/* Prueba de animacions */
@keyframes Ejemplo{
  0% {font-size: 0; width: 0%;}
  100% {font-size: 17px; width: 30%;}
}

@keyframes Cel {
  0% {
    font-size: 0;
    width: 0%;
  }

  100% {
    font-size: 12px;
    width: 40%;
  }
}

/* Cambio de plata de colores */
:root{
  --primario:#f8f8f8;
  --secundario:#FAEBCD;
  --terciario:#f7f073;
  --cuarto: #FA812F;
}

body{
  background-color: var(--primario);
}

/*HEADER*/
/* Edicion  */
.header{
  width: 100%;
  height: 40px;
  background-color: var(--terciario);
  display: flex; /* Se agrega el display flex */
  flex-direction: row; /* Se ajusta la direccion u orientaccion */
  justify-content: space-between; /* El espaciado de elementos */
  align-items: center;
  padding: 30px;
}


.header__nav{
  display: flex; /* Este display cumple la funcion de ajustar los elementos de inicio de seccion */
  width: 30%;
  justify-content: end;
}

.header__nav-items{
  width: 35%;
  cursor: pointer;
}

.header__nav .header__nav-icono{
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*MAIN*/
.main{
  display: flex; /* Hago flexible todo el contenido principal */
  align-items: start; 
}

/* Side Bar */

/* Voy editando y referenciando cada apartado del contenido principal */
.main__aside{
  position: sticky; /* para que la side-bar baje al scrolear */
  top: 0; /* Que se quede fija en la parte superior de la pantalla */
  text-align: center;
  width: 12%;
  display: flex; 
  flex-direction: column; /* Defino la orientacion de la side-bar */
  min-width: 100px;
  padding: 6em 0;
  height: 1068px;
  border-right: 2px solid white;
  left: 0;
  background-color: var(--secundario); /* Añado un color de fondo */
}

.main__aside h2{
  margin-top: 20px;
  font-size: 18px;
}

.main__aside-categorias{
  text-decoration: none;
  margin: 50px 0px;
  color: Black;
}

.main__aside-categorias:hover{
  background-color: var(--secundario);
  margin: 50px auto;
  width: 80%;
  border-radius: 10px;
}

/* Contenido principal */

.main__contenedor{
  flex: 1; /* Dispribuyo el espacio en blanco */
  display: flex;
  width: 88%;
  flex-wrap: wrap; /* que el contenido vaya ocupando fila por fila */
  justify-content: space-evenly;
}

.main__contenedor-tarjeta{
  height: 350px;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  margin: 30px 0;
  padding: 20px;
}

.main__tarjeta-imagen{
  margin-top: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 2px var(--terciario);
  border-radius: 10px;
}

.main__contenedor-tarjeta:hover{
  transform: scale3d(1.1, 1.1, 1);
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgb(184, 184, 184);
}

/*CAMBIOS DE IMAGENES*/

/*Solo si el contenedor padre tiene un target activo, desactiva los demas*/
.main__contenedor:has(:target) > * {
  display: none;
}
/*Dentro del contenedor padre, todo el que tenga target, mostrarlos*/
.main__contenedor > *:target {
  display: flex; /*Agrego un flex al momento de filtrar los elementos*/
  flex-wrap: wrap; /*para que los elementos ocupen cada fila*/
  justify-content: center;
  gap: 20px;
}

.contenedor__tarjeta-texto{
  margin-top: 15px;
}

.footer{
  z-index: 1;
  display: flex;
  background-color: var(--terciario); /* Color de fondo del footer */
  justify-content: center;
}

.footer__texto{
  line-height: 95px;
  margin: 0px 50px;
}

/* Añadido ediciones -> Responsivo */

@media(max-width:1080px){
  
  .header{
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
  }

  .header__nav-items{
    margin-top: 3px;
  }

  .header__nav .header__nav-icono {
    display: inline;
    font-size: 20px;
    cursor: pointer;
  }

  .main__aside{
    display: none;
    position: relative;
    animation-name: Ejemplo;
    animation-duration: 1s;
  }
  
  #Sidebar:target{
    z-index: 1;
    left: 0;
    display: flex;
    position: fixed;
    width: 30%;
    left: 10;
    border-radius: 10px;
  }

  .footer{
    position: relative;
    z-index: 2 ;
  }

  .footer__texto{
    font-size: 10px;
  }

  .footer__texto h1{
    font-size: 12px;
  }
}

@media(max-width:480px){
  
  .header{
    font-size: 10px;
  }

  .header__nav{
    width: 40%;
    align-items: center;
    
  }

  .header__nav-items{
    width: 100%;
    margin: 0 3px;
  }

  #Sidebar:target{
    width: 40%;
    margin-top: 30px;
    font-size: 12px;
    animation-name: Cel;
    animation-duration: 1s;
  }

  .footer{
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 195px;
  }

  .footer__texto p{
    height: 50px;
    font-size: 10px;  
  }

  .footer__texto h1{
    font-size: 10px; 
    height: 50px;
  }
    

}